@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Kumbh+Sans&display=swap");
:root {
  --orange: #ff7e1b;
  --pale-orange: #ffede0;
  --grayish: #68707d;
  --light-greyish: #b6bcc8;
  --btn-bg: #f6f8fd;
  --btn-hover: #ffab6a;
}

/* Todo: nav-link hovers */

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  /* --bs-body-font-family: "Kumbh Sans", sans-serif; */
}

.navbar-div {
  margin-left: 20rem;
}

.profile-img {
  border-radius: 50%;
  width: 3.6rem;
}

.profile-img:hover {
  border: 0.25rem solid var(--orange);
}

/* .nav-link {
  border-bottom: 0.188rem solid rgb(255, 0, 0);
} */

.nav-link:hover {
  border-bottom: 0.188rem solid var(--orange);
}

.product-div {
  margin-bottom: 6rem;
}

.product-img {
  border-radius: 0.9375rem;
  width: 26.5rem;
}

.product-thumbnail {
  width: 5.5rem;
  border-radius: 0.625rem;
  margin-right: 0.5rem;
}

.product-thumbnail:hover {
  opacity: 0.5;
}

.clicked-thumbnail {
  opacity: 0.5;
  border: 0.25rem solid var(--orange);
  width: 5.5rem;
  border-radius: 0.625rem;
  margin-right: 0.5rem;
}

.company-name {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: var(--orange);
  letter-spacing: 0.125rem;
}

.product-category {
  font-weight: 700;
  font-size: 2.75rem;
}

.product-description {
  color: var(--grayish);
}

.star-span {
  background-color: var(--btn-bg);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.rate-span {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  background-color: var(--btn-bg);
}

.old-price {
  color: var(--light-greyish);
}

.price-div {
  display: flex;
}

.price-div p {
  background: var(--pale-orange);
  color: var(--orange);
}

.counter {
  display: flex;
  align-items: center;
}

.count-btn {
  font-size: 1.2em;
}

.minus {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--btn-bg);
}

.plus {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--btn-bg);
}

.count {
  background-color: var(--btn-bg);
  font-size: 1.2rem;
}

.button {
  background-color: var(--orange);
  color: white;
  font-weight: 500;
}

.add-to-cart-btn {
  box-shadow: 0rem 1.25rem 3.125rem -1.25rem var(--orange);
}

.add-to-cart-btn:hover {
  background: var(--btn-hover);
  box-shadow: 0rem 1.25rem 3.125rem -1.25rem #ff7e1b;
}

.cart-icon {
  filter: invert(1);
}

.cart {
  position: relative;
}

.cart-icon {
  width: 1.7rem;
}

.products-in-cart {
  background-color: var(--orange);
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 1.4rem;
  bottom: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.cart-product-div {
  position: absolute;
  right: -12rem;
  top: 3rem;
  width: 22.5rem;
  height: 16rem;
  box-shadow: 0rem 1.25rem 3.125rem -1.25rem rgba(29, 32, 38, 0.5);
  background-color: white;
}

.cart-text {
  color: var(--grayish);
  margin-top: 4rem;
}

.checkout-btn:hover {
  background-color: var(--btn-hover);
}

.cancel-btn {
  background-color: #9c9c9c;
  color: white;
  font-weight: 500;
}

.submit-btn:disabled {
  background-color: var(--btn-hover);
}

.thumnails {
  display: block;
}

.next-arrow {
  display: none;
}

.previous-arrow {
  display: none;
}

.write-review {
  display: block;
}

.add-review {
  display: none;
}

.input {
  width: 34rem;
}

@media only screen and (max-width: 48rem) {
  .written-review {
    width: 20rem;
  }
  .product-category {
    font-size: 2rem;
  }
  .old-price {
    position: absolute;
    right: 2.5rem;
    top: 52.5rem;
    font-size: large;
  }
  .count {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .add-to-cart-btn {
    padding: 1rem 5.3rem;
    margin-left: 0.8rem;
  }
  .profile-img {
    width: 2.5rem;
    margin-right: 1rem;
  }
  .navbar-div {
    width: 31.25rem;
    margin-left: 0.5rem;
  }
  .cart-product-div {
    left: -16rem;
  }
  .product-img {
    width: 22rem;
  }
  .thumnails {
    display: none;
    position: relative;
  }
  .next-arrow {
    display: block;
    position: absolute;
    bottom: 20rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding-left: 0.6rem;
    padding-top: 0.1rem;
  }
  .previous-arrow {
    display: block;
    position: absolute;
    bottom: 19.7rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
  }
  .write-review {
    display: none;
  }
  .add-review {
    display: block;
  }
  .input {
    width: 20rem;
  }
}
